html{
    height: auto;
    min-height: 100%;
}
.cabezera{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: darkslategray;
}
.cabezera h1{
    font-size: 15px;
    color: #fff;
}
.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 15px;
    margin: 0px 15px;
}
ul, ol{
    list-style: none;
    height: 40px;
    border-radius: 15px;
}
.contnav{
    display: flex;
}
.contnav li a{
    color: dimgrey;
    padding: 7px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-size: 15px;
}
.contnav li a:hover{
    color: antiquewhite;
    cursor: pointer;
}
.contnav li a span{
    color: rgb(55, 141, 47);
    cursor: pointer;
}
.contnav li a span:hover{
    color: rgb(28, 248, 8);
    cursor: pointer;
}
.imagen img{
    position: relative;
    width: 100%;
    margin: auto;
}
.imagen{
    width: 100%;
    height: 600px;
}
.textodefoto{
    font-size: x-large;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 25px;
}
.textodefoto p span{
    font-size: 45px;
    color: #fff;
}
.contenedorbotones{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.botonuno{
    color: #fff;
    background: transparent;
    border: 1px solid #fff; 
    width: 30%;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
}
.botondos{
    color: #fff;
    background-color: green;
    border: 1px solid #fff;
    width: 30%;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
}
h3{
    text-align: center;
    color: gray;
    font-weight: 50;
}
h3 span{
    color: black;
    font-size: xx-large;
}
.contenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    position: relative;
    padding: 5px;
}
.descuentouno{
    padding: 25px;
    border: 1px solid #0B30D6;
    margin: 50px 0px;
    box-shadow: 5px 5px 5px 5px #0B30D6;
    cursor: pointer;
}
.descuentodos{
    padding: 25px;
    border: 1px solid #58C1D8;
    margin: 50px 0px;
    box-shadow: 5px 5px 5px 5px #58C1D8;
    cursor: pointer;
}
.descuentotres{
    padding: 25px;
    border: 1px solid #FF7400;
    margin: 50px 0px;
    box-shadow: 5px 5px 5px 5px #FF7400;
    cursor: pointer;
}
.descuentouno p span{
    font-weight: 10000;
    font-size: xx-large;
    text-align: center;
    color: #000;
}
.descuentouno p{
    font-size: small;
    font-weight: 1000;
    text-align: center;
    padding: 20px;
    color: darkgray;
}
.descuentodos p span{
    font-weight: 10000;
    font-size: xx-large;
    text-align: center;
    color: #000;
}
.descuentodos p{
    font-size: small;
    font-weight: 1000;
    text-align: center;
    padding: 20px;
    color: darkgray;
}
.descuentotres p span{
    font-weight: 10000;
    font-size: xx-large;
    text-align: center;
    color: #000;
}
.descuentotres p{
    font-size: small;
    font-weight: 1000;
    text-align: center;
    padding: 20px;
    color: darkgray;
}
.contenedororadores{
    margin: 15px;
    border: 1px solid #000;
}
.contenedororadores img{
    text-align: center;
    border: 1px solid #000;
    width: 200px;
    height: 200px;
}
.datosdeoradores p span{
    font-weight: 500;
    font-size: large;
}
.datosdeoradores p{
    font-size: xx-small;
    font-weight: 200;
}
.contiene{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.contiene img{
    float: right;
    width: 50%;
    height: 400px;
    box-shadow: 1px 5px 25px;
}
.textoimage{
    background-color: darkslategrey;
    width: 50%;
    height: 400px;
    font-size: 15px;
    box-shadow: 1px 5px 25px;
    text-align: justify;
    color: #fff;
    font-size: large;
}
.textoimage p span{
    font-size: x-large;
}
.textoimage button{
    color: #fff;
    background: transparent;
    border: 1px solid #fff; 
    width: 20%;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
}
footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #057093;
}
footer a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
footer a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
}
.formulario{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;  
}
.formulario input{
    font-size: large;
    padding: 0px 40px 0px 20px;
}
.correo{
    text-align: center;
}
.correo input{
    font-size: large;
    padding: 0px 600px 5px 0px; 
    margin: 15px;
}
.total{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.total input{
    font-size: large;
    padding: 0px 40px 0px 20px;
}
.total select{
    font-size: large;
    padding: 0px 40px 0px 20px;
}
.texto{
    text-align: center;
}
.texto input{
    font-size: large;
    padding: 0px 580px 200px 25px;
    margin: 15px;
}
.texto p{
    font-size: small;
    font-weight: 50;
}
.totalapagar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.totalapagar p{
    color: #0B30D6;
    background: #58C1D8;
    font-size: large;
    padding: 10px 500px 10px 20px;
    margin: 15px;
    width: 30%;
}
.botontres{
    text-align: center;
}
.botontres button{
    color: #fff;
    background-color: #84E33E;
    border: 1px solid #84E33E;
    width: 35%;
    height: 35px;
    font-size: 15px;
    padding: 0px 20px 20px 0px;
    margin: 10px;
    cursor: pointer;
}
.botontres:hover button{
    color: #fff;
    background-color: #03AE00;
    border: 1px solid #03AE00;
    width: 35%;
    height: 35px;
    font-size: 15px;
    padding: 0px 20px 20px 0px;
    margin: 10px;
    cursor: pointer;
}